body {
    background: #dad9d9;
   /* background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);*/
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #b41212;
}
h2 {
    border-bottom: 1px solid #fbfb07;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
}
main {
    margin: 10vh 1em 10vh;
}
p {
    line-height: 1.6em;
    color: #000;
}