body {
    background: #dad9d9;
   /* background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);*/
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #b41212;
}
html{
     scroll-behavior: smooth;
}

/* Typeography General*/

#logo{
    padding:0em 1em;
    float: left;
}
h2 {
    border-bottom: 1px solid #fbfb07;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
}
h3{
    margin: 0;
}
p {
    line-height: 1.6em;
    color: #000;
}
a{
    text-decoration: none;
    color: #000;
}
a:visited {
  color: #000;
}
/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}



section {
    position: relative;
    min-height: 80vh;

}
#but{
   
    text-align: left;
    overflow: hidden;
}

.rbutton{
     position: relative;
    display: block;
    text-align: center;
    margin: auto; 
    width: 10em;  
    color: #b41212;
    float: left;
}
.infile{
    float: left;
    display: block;
}
/* ---- Module Rules ---- */

/* Navigation Styles*/
nav{
    margin-left: 1em;
    float: left;
    display: inline-block;
}
.navbar__menu ul {
   padding: 0;
    margin: auto;
   
}

.navbar__menu li {
    display: inline-block;
    margin: 2px 15px 0px 5px;
    color: #000;
float: left;
}

.navbar__menu li:hover{
    cursor: pointer;
    opacity: 60%;
}
.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    

}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #dad9d9;
    text-align: center;
}

/* Footer Styles */
.page__footer {
    position: relative;
    bottom: 0px;
    background: #000;
    padding-top: .25em;
    padding-bottom: .5em;
    color: #fff;
}

.page__footer p{
    color: #fff;
    display:inline-block;
}
.page__footer .icons{
    float :right;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: left; 
}
.activeLink{
    background-color: #c76464;
}
.icons{
    margin-right:10px; 
}
.fa {
  padding: 10px;
  font-size: 15px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px 3px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-linkedin:before {
    content: "\f0e1";
color: #eee;
}
.fa-google:before {
   content: "\f1a0";
color: #eee;
}
.fa-twitter:before {
    content: "\f099";
color: #eee;
}
.fa-facebook:before {
    content: "\f09a";
color: #eee;
}